.cart-button{
    position:relative;
}

.cart-button_count{
    background-color: var(--orange);
    color: var(--white);
    width:1.2rem;
    height: 0.9rem;
    font-size:0.8rem;
    border-radius: 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:-0.5rem;
    right:-0.5rem;
}