.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.round-btn{
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*user-select: none;*/
}

/* Position the "next button" to the right */
.prev {
  left: 1rem;
}
/* Position the "next button" to the right */
.next {
  right: 1rem;
}

.mySlides{
    max-width: 100%;
}