.slides-container{
    display:none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 99;
}

.close-btn{
    margin: 2rem auto 5rem 2rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.close-btn:hover, .close-btn:focus{
    transform: scale(1.1);
}

.slides-container-content {
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (width > 50rem) {
    .slides-container{
        display: inherit;
    }
}