.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.round-btn{
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*user-select: none;*/
}

/* Position the "next button" to the right */
.prev {
  left: 1rem;
}
/* Position the "next button" to the right */
.next {
  right: 1rem;
}

.mySlides{
    max-width: 100%;
}

.thumbnail-container{
    display:none;
}

.thumbnail.selected{
    opacity: 0.7;
}

.thumbnail.selected img{
    border: 0.15rem solid var(--orange);
}

@media screen and (width > 45rem) {

    .slides-shower{
        max-width:40rem;
        padding:0;
    }

    .mySlides{
        width:100%;
        border-radius: 0.5rem;
    }

    .prev, .next {
        display:none;
    }
    
    .thumbnail-container{
        display:flex;
        width:100%;
        justify-content:space-between;
        margin-top: 1rem;
    }

    .thumbnail-container .thumbnail{
        width: 20%;
    }
    .thumbnail-container .thumbnail img{
        width: 100%;
        border-radius: 0.5rem;
    }
}